.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background: var(--bg-container);
    padding: calc(var(--spacing) * 2);
}

@media (max-width: 768px) {
    .container {
        max-width: 360px;
    }
}

form label {
    display: block;
    font-size: 0.8rem;
    color: var(--color-primary);
    margin-bottom: var(--spacing);
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: calc(var(--spacing) / 2);
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: calc(var(--radius) / 4);
    background-color: white;
    color: var(--color-primary);
    margin-top: calc(var(--spacing) / 4);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/public/images/angle-down-solid.svg");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem;
    padding-right: 2rem;
}

input::placeholder,
select::placeholder {
    font-size: 0.8rem;
    color: var(--color-secondary);
    opacity: 1;
}

button {
    width: 100%;
    font-size: 1rem;
    margin-top: var(--spacing);
}

.message {
    text-align: center;
    color: var(--color-warn);
    font-size: 0.9rem;
    margin-top: var(--spacing);
}