/* variables */
:root {
    --color-bcg: #f6f8fa;
    --color-primary: #555;
    --color-secondary: #b5b5b5;
    --color-accent: #12a930;
    --color-warn: #d14c4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: var(--color-bcg);
    font-family: 'Segoe UI', Roboto, sans-serif;
    color: var(--color-primary);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5em;
    z-index: 1000;
}

.header a {
    margin-left: 1rem;
    color: var(--color-accent);
    text-decoration: none;
}