.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        max-width: 360px;
    }

    .container li {
        display: flex;
        flex-direction: column;
    }

    .container li span {
        display: none;
    }
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    margin: 1rem;
}


li span {
    padding: 0 0.25rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

a.home-link {
    margin-top: 2rem;
}