.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--spacing) * 2);
}

@media (max-width: 768px) {
    .container {
        max-width: 360px;
    }
}

img.logo {
    margin: var(--spacing);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--spacing) * 2);
    gap: var(--spacing);
}